.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 832px;
  margin-top: 10px;
}

.lengthLine {
  width: 832px;
  height: 16px;
}

.semitonesLabelContainer {
  position: absolute;
}

.semitonesLabel {
  position: absolute;
  right: 0;
  width: max-content;
  font-size: 80%;
}

.discoverHintLabel {
  font-size: 200%;
  margin-left: 26px;
  margin-top: 30px;
  opacity: 0.3;
}
