.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 0 16px;
}

.innerContainer {
  display: flex;
  max-width: 100%;
}

.header {
  position: relative;
  width: 100%;
  margin: 6px 0 4px;
}

.upper,
.lower {
  display: flex;
}

.infoLabel {
  display: block;
  width: 54px;
  text-align: right;
}

.upperInfo {
  display: flex;
  height: 20px;
}

.tonicInfoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.tonicInfo {
  display: flex;
  width: min-content;
  height: 20px;
  margin: 0 auto;
  color: var(--light-base-color);
}

.infoFrequency {
  margin-left: 12px;
  font-weight: bold;
}

.tickContainer {
  display: block;
}

.tick {
  flex: 1;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tickLabel {
  padding-left: 6px;
  color: var(--light-base-color);
}

.upper > .innerTick {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.upper > .tick {
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.lower > .tick {
  border-right: 2px solid var(--light-base-color);
  border-top: 2px solid var(--light-base-color);
}

.spacing {
  width: 1px;
  height: 36px;
}

.upperSpacing {
  width: 1px;
  height: 18px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.lowerSpacing {
  width: 1px;
  height: 18px;
  border-top: 2px solid var(--light-base-color);
}
