.container {
  position: relative;
  height: 50px;
  overflow-x: hidden;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  fill: var(--light-base-color);
}

.foregroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  fill: none;
}
