.container {
  position: relative;
  width: 280px;
  height: 180px;
  margin-left: 12px;
}

.staffBase {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 180px;
  stroke: #999;
  fill: #999;
}

.intervalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 180px;
}
