.container {
  position: relative;
  height: 70px;
  overflow-x: hidden;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  fill: black;
}

.foregroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  fill: none;
}

.tonicInfoLabel {
  position: absolute;
  top: 50px;
  left: 0;
  height: 20px;
  color: black;
}

.intervalInfoLabel {
  margin-left: 60px;
}
