.container {
  position: relative;
  width: 280px;
  height: 180px;
  margin-left: 12px;
}

.staffBase {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 180px;
  stroke: var(--light-base-color);
  fill: var(--light-base-color);
}

.intervalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 180px;
}
